@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #2c2e43;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffd523;
  font-size: 1.1rem;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

form {
  padding-top: 30px;
  padding-bottom: 15px;
}

label {
  font-size: 1.1rem;
}

form h2 {
  margin-bottom: 10px;
}

footer {
  background-color: #595260;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.centered {
  text-align: center;
}

.svg-fill {
  fill: #fff;
}

.about {
  margin-bottom: 15.5vh;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  color: #242424;
  padding: 10px 20px;
}

.form-body {
  padding: 3%;
  text-align: left;
}

.form-body h3 {
  margin-top: 5px;
}

.time-input {
  display: inline-block;
  padding: 20px;
}

.time-picker {
  margin-left: 10px;
}

.form-button {
  background-color: #2c2e43;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 10px 20px;
}

.form-button:hover {
  background-color: #27293b;
}

.date-display {
  color: #666;
  font-size: 1.2rem;
}

.weekly-stats {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 15px;
}

.hours-list {
  margin-bottom: 50px;
}

.hours-item {
  margin: 20px 0;
  padding: 20px 30px;
}

.hours-item p {
  display: inline;
  font-size: 1.2rem;
  margin-right: 50px;
}

.shift-time {
  margin-top: 15px;
}

.overtime-field {
  margin-top: 10px;
}

.about-link {
  color: #fff;
  float: right;
  cursor: pointer;
  width: 50px;
}

.about-link a {
  color: #fff;
}

.about-link a:hover {
  color: #ffd523;
}

.about-container {
  margin-bottom: 50px;
  padding: 20px 50px;
  text-align: right;
}
